<div class="header-wrapper">
  <div id="name"><h1>Kyle Schmidt</h1></div>
  <div id="description"><h5>Software Developer <a href="https://twitter.com/KeplerGrp">@KeplerGrp</a>. Python. Emacs. Clojure. Functional Programming. Free Software. Distributed Applications. Scholar of System Composition.</h5>
  </div>
<a href="http://twitter.com/kyle_schmidt" class="author-social" target="_blank"><i class="icon-twitter"></i> Twitter</a>
<a href="http://github.com/kas2207" class="author-social" target="_blank"><i class="icon-github"></i> Github</a>
</div>
